h1 {
    text-align: center;
}
#ageForm,
#result {
    max-width: 400px;
    margin:10px auto;
    padding: 20px;
    border: 1px #ccf solid;
    border-radius: 10px;
    background-color: #f0f0f0;
}
#result {
    background-color: #add8ad;
    font-size: 1.2rem;
}
input {
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 0.95rem;
}
button {
    background-color: #ffc0cb;
    padding: 6px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
}
button:hover {
    background-color: purple;
    color: white;
}